body {
    background-color: #fcdba2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.content-container {
    background-image: url('https://img.freepik.com/free-vector/worldwide-connection-gray-background-illustration-vector_53876-61772.jpg?t=st=1713375587~exp=1713379187~hmac=f5926c31e5fc0252a94a41530db798dcb31212e56be7f635fdc3472d674afc2a&w=2000'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 20px;
    filter: brightness(100%); /* Adjust the brightness percentage as needed */
    border-radius: 10px; /* Add rounded corners */
    margin-bottom: 20px; /* Add vertical space between containers */
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(186, 190, 252, 0.4);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-container label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dropdown-container select {
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.graph-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.graph-item {
    width: calc(50% - 20px);
    margin-bottom: 40px;
    margin-right: 20px;
    border: 1px solid #ddd;
    background-color: rgba(186, 190, 252, 0.4);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.graph-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.dropdown-item {
    margin-right: 10px; /* Add horizontal spacing between dropdowns */
    font-size: 12px;
}

