body{
    background-color: #fcdba2;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.page1_style {
    margin-left: 20px;
    margin-right: 20px;
    z-index: -1;
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.content-container {
    background-image: url('https://img.freepik.com/free-vector/worldwide-connection-gray-background-illustration-vector_53876-61772.jpg?t=st=1713375587~exp=1713379187~hmac=f5926c31e5fc0252a94a41530db798dcb31212e56be7f635fdc3472d674afc2a&w=2000'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 20px;
    filter: brightness(100%); /* Adjust the brightness percentage as needed */
    border-radius: 10px; /* Add rounded corners */
    margin-bottom: 20px; /* Add vertical space between containers */
}



.dropdown-container {
    display: flex;
    justify-content: space-between; /* Align items side by side */
    background-color: rgba(186, 190, 252, 0.4); /* Light violet background color */
    border-radius: 8px; /* Rounded corners */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.dropdown-container label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dropdown-container select {
    width: 45%; /* Adjust width to fit two items side by side */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.plot-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Increase horizontal separation between each plot */
    margin-top: 30px;
}

.plot-item {
    width: calc(50% - 20px);
    margin-bottom: 40px; /* Increase the margin between each plot */
    margin-right: 20px; /* Increase the horizontal space between plots */
    border: 1px solid #ddd; /* Border color for each plot container */
    background-color: rgba(186, 190, 252, 0.4); /* Light violet background color */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for depth */
}

.plot-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

